<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Tab 1-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Tab 1</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->
<!--</ion-content>-->


<ion-header>
  <ion-toolbar>
    <ion-title>Grocery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3 class="no-item ion-text-center" text-center *ngIf="loadItems().length === 0"> No item available on the list!</h3>
  <ion-list *ngFor="let item of loadItems(); let i = index">
    <ion-item-sliding>
      <ion-item>
        <h2>{{item.name}} {{item.quantity}}</h2>

      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="handleEdit(item, i)"  ion-button color="primary" icon-start>

          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>

        <ion-item-option (click)="handleRemove(item, i)" ion-button color="secondary" icon-start>

          <ion-icon name="trash"></ion-icon>
          Done
        </ion-item-option>

        <ion-item-option (click)="shareItem(item, i)" ion-button color="secondary" icon-start>
          <ion-icon name="share"></ion-icon>
          Share
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="handleAdd()">
      <!--    <button (click)="handleAdd()" ion-fab mini>-->
      <ion-icon name="add"></ion-icon>
      <!--    </button>-->
    </ion-fab-button>
  </ion-fab>

</ion-content>
